/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  font-family: sans-serif;
}

.notification:not(:last-child){
  margin-bottom: 0;
}

a {
  color: white;
  text-decoration: none;
}

//active_hashのformで使用
.genre-select{
  height: 30px;
  width: 250px;
}

.review_card {
  background-color: rgb(236, 253, 250);
}

.card-footer-item {
  color: grey;
}